<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.panli.pay.dao.AmountFlowDao">
    <resultMap id="BaseMap"
               type="com.panli.pay.support.model.po.AmountFlowPo">
        <id column="id" property="id" jdbcType="INTEGER"/>

        <result column="trade_id" property="tradeId" jdbcType="VARCHAR"/>
        <result column="channel_trade_id" property="channelTradeId" jdbcType="VARCHAR"/>
        <result column="created_date_time" property="createdDatetime" jdbcType="TIMESTAMP"/>

        <result column="amount" property="amount" jdbcType="DECIMAL"/>
        <result column="batch_id" property="batchId" jdbcType="VARCHAR"/>
        <result column="flow_type" property="flowType" jdbcType="BIT"/>
        <result column="merchant_id" property="merchantId" jdbcType="VARCHAR"/>
        <result column="rate" property="rate" jdbcType="DOUBLE"/>
        <result column="amountUnitType" property="amountUnitType" jdbcType="INTEGER"/>
    </resultMap>

    <insert id="insert" parameterType="com.panli.pay.support.model.po.PaymentOrderPo"
            keyColumn="id"
            keyProperty="id"
            useGeneratedKeys="true">
      INSERT INTO amount_flow (merchant_id, trade_id,channel_trade_id, batch_id,amount, flow_type)
        VALUES(#{po.merchantId}, #{po.tradeId},
         #{po.channelTradeId},
         #{po.batchId},
         #{po.amount},
         #{po.flowType})
    </insert>

    <select id="queryOrderFlow" resultMap="BaseMap">
        SELECT id, merchant_id, trade_id, channel_trade_id, batch_id, amount, flow_type, amount_unit_type, rate, created_date_time
        FROM amount_flow where trade_id=#{tradeId} and channel_trade_id=#{channelTradeId}

    </select>
</mapper>