<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.panli.pay.dao.ChannelPlatformConfigDao">
    <resultMap id="BaseMap"
               type="com.panli.pay.support.model.po.ChannelPlatformConfigPo">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="channel_platform" property="channelPlatform" jdbcType="VARCHAR"/>
        <result column="platform_code" property="platformCode" jdbcType="VARCHAR"/>
        <result column="platform_describe" property="platformDescribe" jdbcType="VARCHAR"/>
        <result column="created_datetime" property="createdDateTime" jdbcType="TIMESTAMP"/>
        <result column="created_user_id" property="createdUserId" jdbcType="INTEGER"/>
        <result column="is_deleted" property="isDeleted" jdbcType="BIT"/>
        <result column="business_describe" property="businessDescribe" jdbcType="VARCHAR"/>
        <result column="channel_short_code" property="channelShortCode" jdbcType="VARCHAR"/>

        <result column="channel_pay_query_code" property="channelPayQueryCode" jdbcType="VARCHAR"/>
        <result column="channel_pay_code" property="channelPayCode" jdbcType="VARCHAR"/>
        <result column="channel_refund_code" property="channelRefundCode" jdbcType="VARCHAR"/>
        <result column="channel_refund_query_code" property="channelRefundQueryCode" jdbcType="VARCHAR"/>
        <result column="channel_cancel_code" property="channelCancelCode" jdbcType="VARCHAR"/>
        <result column="channel_add_receiver" property="channelAddReceiver" jdbcType="VARCHAR"/>
    </resultMap>

    <insert id="insert" parameterType="com.panli.pay.support.model.po.ChannelPlatformConfigPo"
            keyColumn="id"
            keyProperty="id"
            useGeneratedKeys="true">
        INSERT INTO channel_platform_config
        (platform_describe, channel_short_code, platform_code, channel_pay_code, channel_pay_query_code,
         channel_refund_code, channel_refund_query_code, channel_cancel_code, business_describe)
        values (#{po.platformDescribe},
                #{po.channelShortCode},
                #{po.platformCode}
                    #{po.channelPayCode},
                #{po.channelQueryCode},
                #{po.channelRefundCode},
                #{po.channelRefundQueryCoode},
                #{po.channel_cancel_code},
                #{po.businessDescribe})
    </insert>

    <select id="queryByCode" resultMap="BaseMap">
        SELECT id,
               channel_platform,
               platform_describe,
               channel_short_code,
               platform_code,
               channel_pay_code,
               channel_pay_query_code,
               channel_refund_code,
               channel_refund_query_code,
               channel_cancel_code,
               channel_add_receiver,
               business_describe,
               created_datetime,
               is_deleted

        FROM channel_platform_config
        where platform_code = #{platformCode}
          and channel_short_code = #{channelCode}
          and is_deleted = 0
    </select>
</mapper>