<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.panli.pay.dao.PayCallRecordDao">
    <resultMap id="BaseMap"
               type="com.panli.pay.support.model.po.PayCallRecordPo">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="request_body" property="requestBody" jdbcType="TIMESTAMP"/>
        <result column="response_code" property="responseCode" jdbcType="VARCHAR"/>
        <result column="response_message" property="responseMessage" jdbcType="VARCHAR"/>
        <result column="request_id" property="requestId" jdbcType="VARCHAR"/>
        <result column="system_code" property="systemCode" jdbcType="INTEGER"/>
        <result column="system_message" property="systemMessage" jdbcType="VARCHAR"/>
        <result column="created_date_time" property="createdDateTime" jdbcType="TIMESTAMP"/>
        <result column="call_cost_time" property="callCostTimeMills" jdbcType="INTEGER"/>
        <result column="origin_resp_body" property="originRespBody" jdbcType="VARCHAR"/>
        <result column="platform_code" property="platformCode" jdbcType="VARCHAR"/>
        <result column="business_code" property="businessCode" jdbcType="VARCHAR"/>
        <result column="channel_code" property="channelCode" jdbcType="VARCHAR"/>
        <result column="trade_id" property="tradeId" jdbcType="VARCHAR"/>
        <result column="batch_id" property="batchId" jdbcType="VARCHAR"/>
    </resultMap>

    <insert id="insert" parameterType="com.panli.pay.support.model.po.PayCallRecordPo"
            keyColumn="id"
            keyProperty="id"
            useGeneratedKeys="true">
       INSERT INTO pay_call_record
            (
             request_body,
             response_code,
             response_message,
             request_id,
             system_code,
             system_message,
             call_cost_time,
             origin_resp_body,
             platform_code,
             business_code,
             channel_code,
             trade_id,
             batch_id)
            values
            (
            #{po.requestBody},
            #{po.responseCode},
            #{po.responseMessage},
            #{po.requestId},
            #{po.systemCode},
            #{po.systemMessage},
            #{po.callCostTimeMills},
            #{po.originRespBody},
            #{po.platformCode},
            #{po.businessCode},
            #{po.channelCode},
            #{po.tradeId},
            #{po.batchId}
            )
    </insert>
</mapper>